In [72]:
import pandas as pd

data = pd.read_csv('Infections.csv')
ar = data.values
codes = pd.read_csv('wikipedia-iso-country-codes.csv')
val = codes.values
cdic = {}

for row in val:
    cdic[row[0]] = row[2]

dates2 = ['1-22-2020','01-23-2020','01-24-2020','01-25-2020','01-26-2020','01-27-2020','01-28-2020','01-29-2020', '01-30-2020', '01-31-2020', '02-01-2020','02-02-2020','02-03-2020','02-04-2020','02-05-2020','02-06-2020','02-07-2020','02-08-2020','02-09-2020','02-10-2020','02-11-2020','02-12-2020','02-13-2020','02-14-2020','02-15-2020','02-16-2020','02-17-2020','02-18-2020','02-19-2020','02-20-2020','02-21-2020','02-22-2020','02-23-2020','02-24-2020','02-25-2020','02-26-2020','02-27-2020','02-28-2020','02-29-2020','03-01-2020','03-02-2020','03-03-2020','03-04-2020','03-05-2020','03-06-2020','03-07-2020','03-08-2020','03-09-2020','03-10-2020','03-11-2020','03-12-2020','03-13-2020','03-14-2020','03-15-2020','03-16-2020']
dates = ['01/22/2020','01/23/2020','01/24/2020','01/25/2020','01/26/2020','01/27/2020','01/28/2020','01/29/2020', '01/30/2020', '01/31/2020', '02/01/2020','02/02/2020','02/03/2020','02/04/2020','02/05/2020','02/06/2020','02/07/2020','02/08/2020','02/09/2020','02/10/2020','02/11/2020','02/12/2020','02/13/2020','02/14/2020','02/15/2020','02/16/2020','02/17/2020','02/18/2020','02/19/2020','02/20/2020','02/21/2020','02/22/2020','02/23/2020','02/24/2020','02/25/2020','02/26/2020','02/27/2020','02/28/2020','02/29/2020','03/01/2020','03/02/2020','03/03/2020','03/04/2020','03/05/2020','03/06/2020','03/07/2020','03/08/2020','03/09/2020','03/10/2020','03/11/2020','03/12/2020','03/13/2020','03/14/2020','03/15/2020','03/16/2020']

In [ ]:
with open("17-3.tsv", "w") as file:
    file.write('Province/State\tCountry/Region\tCode\tLat\tLong\tInfections\tDate\n')
    for row in ar:
        for idx, item in enumerate(row[4:59]):
            if item:
                if type(row[0]) == str:
                    file.write(f'{row[0]}\t{row[1]}\t{cdic[row[1]]}\t{row[2]}\t{row[3]}\t{item}\t{dates[idx]}\n')
                else:
                    file.write(f'\t{row[1]}\t{cdic[row[1]]}\t{row[2]}\t{row[3]}\t{item}\t{dates[idx]}\n')

In [128]:
months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
with open("hailmary.tsv", "w") as file:
    file.write('Country\tLat\tLong\tInfections\tDate\n')
    for row in ar:
        for idx, item in enumerate(row[4:59]):
            if item:
                month, day, year = (dates[idx].split("/"))
                file.write(f'{row[1]}\t{row[2]}\t{row[3]}\t{item}\t{day} {months[int(month)-1]}\n')

In [106]:
dead = pd.read_csv('deaths.csv')
recovered = pd.read_csv('recovered.csv')

In [175]:
dropping = data.copy()
dropping.drop(['Unnamed: 59', 'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63', 'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67'], axis=1, inplace=True)
dropping.rename(columns={'Country/Region':'Country'}, inplace=True)
ch = dropping[dropping.Country == 'China']
sp = dropping[dropping.Country == 'Spain']
it = dropping[dropping.Country == 'Italy']
ir = dropping[dropping.Country == 'Iran']
ch.append(sp)
ch.append(it)
ch.append(ir)
ch.to_csv(r'china.csv', index=False)

In [110]:
with open("17-3all.tsv", "w") as outfile:
    outfile.write('Country\tDate\tInfections\tRecovered\tDeaths\n')
    for i in range(4,59):
        inf = sum(data.iloc[:,i])
        rec = sum(recovered.iloc[:,i])
        deaths = sum(dead.iloc[:,i])
        outfile.write(f'\t{dates[i-4]}\t{inf}\t{rec}\t{deaths}\n')

In [134]:
#Chinese provinces
with open("Comparison.tsv", "w") as file:
    for row in ar:
        if row[1] == 'China' or ''
        print(row)
        for idx, item in enumerate(row[4:59]):
            if item:
                if type(row[0]) == str:
                    file.write(f'{row[0]}\t{row[1]}\t{cdic[row[1]]}\t{row[2]}\t{row[3]}\t{item}\t{dates[idx]}\n')
                else:
                    file.write(f'\t{row[1]}\t{cdic[row[1]]}\t{row[2]}\t{row[3]}\t{item}\t{dates[idx]}\n')

[nan 'Thailand' 15.0 101.0 2 3 5 7 8 8 14 14 14 19 19 19 19 25 25 25 25 32
 32 32 33 33 33 33 33 34 35 35 35 35 35 35 35 35 37 40 40 41 42 42 43 43
 43 47 48 50 50 50 53 59 70 75 82 114 147 nan nan nan nan nan nan nan nan
 nan]
[nan 'Japan' 36.0 138.0 2 1 2 2 4 4 7 7 11 15 20 20 20 22 22 45 25 25 26
 26 26 28 28 29 43 59 66 74 84 94 105 122 147 159 170 189 214 228 241 256
 274 293 331 360 420 461 502 511 581 639 639 701 773 839 825 nan nan nan
 nan nan nan nan nan nan]
[nan 'Singapore' 1.2833 103.8333 0 1 3 3 4 5 7 7 10 13 16 18 18 24 28 28
 30 33 40 45 47 50 58 67 72 75 77 81 84 84 85 85 89 89 91 93 93 93 102 106
 108 110 110 117 130 138 150 150 160 178 178 200 212 226 243 nan nan nan
 nan nan nan nan nan nan]
[nan 'Nepal' 28.1667 84.25 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 nan nan nan
 nan nan nan nan nan nan]
[nan 'Malaysia' 2.5 112.5 0 0 0 3 4 4 4 7 8 8 8 8 8 10 12 12 12 16 16 18
 18 18 19 19 22 22 22 22 22 22 22 22 22 22 22 22 23 23 25 29 29 36 50 50
 83 93 99 117 129 149 149 197 238 428 566 nan nan nan nan nan nan nan nan
 nan]
['British Columbia' 'Canada' 49.2827 -123.1207 0 0 0 0 0 0 1 1 1 1 1 1 1 1
 2 2 4 4 4 4 4 4 4 4 4 4 5 5 5 5 6 6 6 6 7 7 7 7 8 8 8 9 12 13 21 21 27 32
 32 39 46 64 64 73 103 nan nan nan nan nan nan nan nan nan]
['New South Wales' 'Australia' -33.8688 151.2093 0 0 0 0 3 4 4 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 6 6 13 22 22 26 28 38
 48 55 65 65 92 112 134 171 nan nan nan nan nan nan nan nan nan]
['Victoria' 'Australia' -37.8136 144.9631 0 0 0 0 1 1 1 1 2 3 4 4 4 4 4 4
 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 4 7 7 9 9 10 10 10 11 11 15 18
 21 21 36 49 57 71 nan nan nan nan nan nan nan nan nan]
['Queensland' 'Australia' -28.0167 153.4 0 0 0 0 0 0 0 1 3 2 3 2 2 3 3 4 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 9 9 9 11 11 13 13 13 15 15 18
 20 20 35 46 61 68 nan nan nan nan nan nan nan nan nan]
[nan 'Cambodia' 11.55 104.9167 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 3 3 5 7 7 7 nan nan
 nan nan nan nan nan nan nan]
[nan 'Sri Lanka' 7.0 81.0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 6 10 18 28 nan nan
 nan nan nan nan nan nan nan]
[nan 'Germany' 51.0 9.0 0 0 0 0 0 1 4 4 4 5 8 10 12 12 12 12 13 13 14 14
 16 16 16 16 16 16 16 16 16 16 16 16 16 16 17 27 46 48 79 130 159 196 262
 482 670 799 1040 1176 1457 1908 2078 3675 4585 5795 7272 nan nan nan nan
 nan nan nan nan nan]
[nan 'Finland' 64.0 26.0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 2 2 2 3 6 6 6 6 12 15 15 23 30 40 59 59 155 225 244
 277 nan nan nan nan nan nan nan nan nan]
[nan 'United Arab Emirates' 24.0 54.0 0 0 0 0 0 0 0 4 4 4 4 5 5 5 5 5 5 7
 7 8 8 8 8 8 8 9 9 9 9 9 9 13 13 13 13 13 13 19 21 21 21 27 27 29 29 45 45
 45 74 74 85 85 85 98 98 nan nan nan nan nan nan nan nan nan]
[nan 'Philippines' 13.0 122.0 0 0 0 0 0 0 0 0 1 1 1 2 2 2 2 2 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 6 10 20 33 49 52 64 111 140
 142 nan nan nan nan nan nan nan nan nan]
[nan 'India' 21.0 78.0 0 0 0 0 0 0 0 0 1 1 1 2 3 3 3 3 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 5 5 28 30 31 34 39 43 56 62 73 82 102 113 119
 nan nan nan nan nan nan nan nan nan]
[nan 'Italy' 43.0 12.0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 2 2 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 20 62 155 229 322 453 655 888 1128 1694 2036 2502 3089 3858 4636
 5883 7375 9172 10149 12462 12462 17660 21157 24747 27980 nan nan nan nan
 nan nan nan nan nan]
[nan 'Sweden' 63.0 16.0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 2 7 7 12 14 15 21 35 94 101 161 203 248 355 500 599
 814 961 1022 1103 nan nan nan nan nan nan nan nan nan]
[nan 'Spain' 40.0 -4.0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 6 13 15 32 45 84 120 165 222 259 400 500 673 1073 1695
 2277 2277 5232 6391 7798 9942 nan nan nan nan nan nan nan nan nan]
['South Australia' 'Australia' -34.9285 138.6007 0 0 0 0 0 0 0 0 0 0 1 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 3 3 3 3 5 5 7 7 7 7 7 9
 9 16 19 20 29 nan nan nan nan nan nan nan nan nan]
[nan 'Belgium' 50.8333 4.0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 8 13 23 50 109 169 200 239 267 314 314
 559 689 886 1058 nan nan nan nan nan nan nan nan nan]
[nan 'Egypt' 26.0 30.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 3 15 15 49 55 59 60 67 80 109 110 150
 nan nan nan nan nan nan nan nan nan]
['From Diamond Princess' 'Australia' 35.4437 139.638 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 7 7 7 7 7 8 8 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 nan nan nan nan nan nan nan nan nan]
[nan 'Lebanon' 33.8547 35.8623 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 1 1 1 1 2 2 2 4 10 13 13 13 16 22 22 32 32 41 61 61 77
 93 110 99 nan nan nan nan nan nan nan nan nan]
[nan 'Iraq' 33.0 44.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 5 7 7 13 19 26 32 35 35 40 54 60 60 71 71 71 101 110
 116 124 nan nan nan nan nan nan nan nan nan]
[nan 'Oman' 21.0 57.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 2 2 4 4 4 6 6 6 12 15 16 16 16 16 16 18 18 18 19 19 22 22
 nan nan nan nan nan nan nan nan nan]
[nan 'Afghanistan' 33.0 65.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 4 4 5 7 7 7 11 16 21 nan
 nan nan nan nan nan nan nan nan]
[nan 'Bahrain' 26.0275 50.55 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 23 33 33 36 41 47 49 49 52 55 60 85 85 95 110 195
 195 189 210 214 214 nan nan nan nan nan nan nan nan nan]
[nan 'Kuwait' 29.5 47.75 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 1 11 26 43 45 45 45 56 56 56 58 58 61 64 64 69 72 80 80
 104 112 123 nan nan nan nan nan nan nan nan nan]
[nan 'Algeria' 28.0339 1.6596 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 3 5 12 12 17 17 19 20 20 20 24 26 37
 48 54 nan nan nan nan nan nan nan nan nan]
[nan 'Croatia' 45.1 15.2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 1 3 3 5 6 7 7 9 10 10 11 12 12 12 14 19 19 32 38 49 57
 nan nan nan nan nan nan nan nan nan]
[nan 'Switzerland' 46.8182 8.2275 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 8 8 18 27 42 56 90 114 214 268 337 374
 491 652 652 1139 1359 2200 2200 nan nan nan nan nan nan nan nan nan]
[nan 'Austria' 47.5162 14.5501 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 2 2 3 3 9 14 18 21 29 41 55 79 104 131 182 246
 302 504 655 860 1018 nan nan nan nan nan nan nan nan nan]
[nan 'Israel' 31.0 35.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 1 1 1 1 2 3 4 7 10 10 12 15 20 37 43 61 61 83 109 131 161 193
 251 255 nan nan nan nan nan nan nan nan nan]
[nan 'Pakistan' 30.3753 69.3451 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 4 4 4 5 5 5 6 6 6 6 16 19 20 28 31 53
 136 nan nan nan nan nan nan nan nan nan]
[nan 'Brazil' -14.235 -51.9253 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 2 2 2 2 4 4 13 13 20 25 31 38 52 151 151
 162 200 nan nan nan nan nan nan nan nan nan]
[nan 'Georgia' 42.3154 43.3569 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 3 3 3 3 4 4 4 13 15 15 24 24 25 30 33
 33 nan nan nan nan nan nan nan nan nan]
[nan 'Greece' 39.0742 21.8243 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 3 4 4 7 7 7 9 31 45 46 73 73 89 99 99 190 228
 331 331 nan nan nan nan nan nan nan nan nan]
[nan 'North Macedonia' 41.6086 21.7453 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 3 3 3 3 7 7 7 14 14
 14 18 nan nan nan nan nan nan nan nan nan]
[nan 'Norway' 60.472 8.4689 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 1 1 6 15 19 25 32 56 87 108 147 176 205 400 598
 702 996 1090 1221 1333 nan nan nan nan nan nan nan nan nan]
[nan 'Romania' 45.9432 24.9668 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 3 3 3 3 3 4 6 9 9 15 15 25 45 49 89 123 131
 158 nan nan nan nan nan nan nan nan nan]
[nan 'Estonia' 58.5953 25.0136 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 2 2 3 10 10 10 10 12 16 16 79 115
 171 205 nan nan nan nan nan nan nan nan nan]
[nan 'San Marino' 43.9424 12.4578 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 8 10 16 21 21 23 36 36 51 62 69
 80 80 101 109 nan nan nan nan nan nan nan nan nan]
[nan 'Belarus' 53.7098 27.9534 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 6 6 6 6 6 6 9 9 12 27 27 27 36
 nan nan nan nan nan nan nan nan nan]
[nan 'Iceland' 64.9631 -19.0208 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 3 6 11 26 34 43 50 50 58 69 85 103
 134 156 171 180 nan nan nan nan nan nan nan nan nan]
[nan 'Lithuania' 55.1694 23.8813 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 3 3 6 8 12 17 nan
 nan nan nan nan nan nan nan nan]
[nan 'Mexico' 23.6345 -102.5528 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 4 5 5 5 5 5 6 6 7 7 7 8 12 12 26 41 53
 nan nan nan nan nan nan nan nan nan]
[nan 'New Zealand' -40.9006 174.886 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 3 3 4 5 5 5 5 5 5 5 6 8 8
 nan nan nan nan nan nan nan nan nan]
[nan 'Nigeria' 9.082 8.6753 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 nan nan
 nan nan nan nan nan nan nan]
['Western Australia' 'Australia' -31.9505 115.8605 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 2 3 3 3 3 4 6
 9 9 14 17 17 28 nan nan nan nan nan nan nan nan nan]
[nan 'Ireland' 53.1424 -7.6921 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 2 6 6 18 18 19 21 34 43 43 90 129
 129 169 nan nan nan nan nan nan nan nan nan]
[nan 'Luxembourg' 49.8153 6.1296 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 2 2 3 3 5 7 19 34 51 59 77
 nan nan nan nan nan nan nan nan nan]
[nan 'Monaco' 43.7333 7.4167 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 7 nan nan
 nan nan nan nan nan nan nan]
[nan 'Qatar' 25.3548 51.1839 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 3 3 7 8 8 8 8 15 18 24 262 262 320 337
 401 439 nan nan nan nan nan nan nan nan nan]
[nan 'Ecuador' -1.8312 -78.1834 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 6 6 7 10 13 13 13 14 15 15 17 17 17
 28 28 37 nan nan nan nan nan nan nan nan nan]
[nan 'Azerbaijan' 40.1431 47.5769 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 3 6 6 9 9 9 11 11 11 15 15 23
 15 nan nan nan nan nan nan nan nan nan]
[nan 'Armenia' 40.0691 45.0382 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 4 8 18 26 52 nan
 nan nan nan nan nan nan nan nan]
[nan 'Dominican Republic' 18.7357 -70.1627 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 2 2 5 5 5 5 5 5
 11 11 11 nan nan nan nan nan nan nan nan nan]
[nan 'Indonesia' -0.7893 113.9213 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 4 4 6 19 27 34 34 69 96
 117 134 nan nan nan nan nan nan nan nan nan]
[nan 'Portugal' 39.3999 -8.2245 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 5 8 13 20 30 30 41 59 59 112
 169 245 331 nan nan nan nan nan nan nan nan nan]
[nan 'Andorra' 42.5063 1.5218 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 nan nan
 nan nan nan nan nan nan nan]
['Tasmania' 'Australia' -41.4545 145.9707 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 2 2 2 3 3 5 5
 6 7 nan nan nan nan nan nan nan nan nan]
[nan 'Latvia' 56.8796 24.6032 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 2 6 8 10 10 17 26 30 34
 nan nan nan nan nan nan nan nan nan]
[nan 'Morocco' 31.7917 -7.0926 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 2 2 2 2 2 3 5 6 7 17 28 29 nan
 nan nan nan nan nan nan nan nan]
[nan 'Saudi Arabia' 24.0 45.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 5 5 5 11 15 20 21 45 86 103 103
 118 nan nan nan nan nan nan nan nan nan]
[nan 'Senegal' 14.4974 -14.4524 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 4 4 4 4 4 4 4 4 4 10 10 24 24
 nan nan nan nan nan nan nan nan nan]
[nan 'Argentina' -38.4161 -63.6167 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 2 8 12 12 17 19 19 31 34
 45 56 nan nan nan nan nan nan nan nan nan]
[nan 'Chile' -35.6751 -71.543 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 4 4 4 8 8 13 23 23 43 61 74 155
 nan nan nan nan nan nan nan nan nan]
[nan 'Jordan' 31.24 36.51 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 8 17 nan nan
 nan nan nan nan nan nan nan]
[nan 'Ukraine' 48.3794 31.1656 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 3 3 3 7 nan nan
 nan nan nan nan nan nan nan]
[nan 'Hungary' 47.1625 19.5033 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 4 7 9 9 13 13 19 30 32 39
 nan nan nan nan nan nan nan nan nan]
['Northern Territory' 'Australia' -12.4634 130.8456 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0
 1 1 1 1 1 1 1 nan nan nan nan nan nan nan nan nan]
[nan 'Liechtenstein' 47.14 9.55 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 4 4 4 nan
 nan nan nan nan nan nan nan nan]
[nan 'Poland' 51.9194 19.1451 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 5 5 11 16 22 31 49 68 103 119
 177 nan nan nan nan nan nan nan nan nan]
[nan 'Tunisia' 34.0 9.0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 2 2 5 7 7 16 18 18 20 nan nan
 nan nan nan nan nan nan nan]
[nan 'Bosnia and Herzegovina' 43.9159 17.6791 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 3 3 3 5 7
 11 13 18 24 25 nan nan nan nan nan nan nan nan nan]
[nan 'Slovenia' 46.1512 14.9955 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 7 7 16 16 31 57 89 141 181
 219 253 nan nan nan nan nan nan nan nan nan]
[nan 'South Africa' -30.5595 22.9375 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 3 3 7 13 17 24 38
 51 62 nan nan nan nan nan nan nan nan nan]
[nan 'Bhutan' 27.5142 90.4336 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 nan nan
 nan nan nan nan nan nan nan]
[nan 'Cameroon' 3.8480000000000003 11.5021 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 2 2 2 2 2 2 2
 2 4 nan nan nan nan nan nan nan nan nan]
[nan 'Colombia' 4.5709 -74.2973 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 3 9 9 13 22 34 54
 nan nan nan nan nan nan nan nan nan]
[nan 'Costa Rica' 9.7489 -83.7534 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 5 9 9 13 22 23 26 27
 35 nan nan nan nan nan nan nan nan nan]
[nan 'Peru' -9.19 -75.0152 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 6 7 11 11 15 28 38 43 86 nan
 nan nan nan nan nan nan nan nan]
[nan 'Serbia' 44.0165 21.0059 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 5 12 19 35 46 48 55
 nan nan nan nan nan nan nan nan nan]
[nan 'Slovakia' 48.669 19.699 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 3 3 7 10 16 32 44 54 63
 nan nan nan nan nan nan nan nan nan]
[nan 'Togo' 8.6195 0.8248 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 nan nan nan
 nan nan nan nan nan nan]
[nan 'Malta' 35.9375 14.3754 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 5 6 6 12 18 21 30 nan
 nan nan nan nan nan nan nan nan]
[nan 'Martinique' 14.6415 -61.0242 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 2 2 2 3 3 3 9 9 15
 nan nan nan nan nan nan nan nan nan]
[nan 'Bulgaria' 42.7339 25.4858 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 4 7 7 23 41 51 52
 nan nan nan nan nan nan nan nan nan]
[nan 'Maldives' 3.2028 73.2207 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 4 4 6 8 8 9 10 13 13 nan
 nan nan nan nan nan nan nan nan]
[nan 'Bangladesh' 23.685 90.3563 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 3 3 3 3 3 3 3 5 8 nan
 nan nan nan nan nan nan nan nan]
[nan 'Paraguay' -23.4425 -58.4438 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 5 5 6 6 6 8 nan
 nan nan nan nan nan nan nan nan]
['Ontario' 'Canada' 51.2538 -85.3232 0 0 0 0 1 1 1 1 1 3 3 3 3 3 3 3 3 3 3
 3 3 3 3 3 3 3 3 3 3 3 3 3 3 4 4 4 6 6 11 15 18 20 20 22 25 28 29 34 36 41
 42 74 79 104 177 nan nan nan nan nan nan nan nan nan]
['Alberta' 'Canada' 53.9333 -116.5765 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 2 4 7 7 19 19 29 29
 39 56 nan nan nan nan nan nan nan nan nan]
['Quebec' 'Canada' 52.9399 -73.5491 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 2 2 3 4 4 4 8 9 17 17 24
 50 nan nan nan nan nan nan nan nan nan]
[nan 'Albania' 41.1533 20.1683 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 10 12 23 33 38 42 51
 nan nan nan nan nan nan nan nan nan]
[nan 'Cyprus' 35.1264 33.4299 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2 3 6 6 14 26 26 33 nan
 nan nan nan nan nan nan nan nan]
[nan 'Brunei' 4.5353 114.7277 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 11 11 37 40 50 54
 nan nan nan nan nan nan nan nan nan]
['Washington' 'US' 47.4009 -121.4905 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 267 366 442 568
 572 643 904 nan nan nan nan nan nan nan nan nan]
['New York' 'US' 42.1657 -74.9481 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 173 220 328 421
 525 732 967 nan nan nan nan nan nan nan nan nan]
['California' 'US' 36.1162 -119.6816 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 144 177 221 282
 340 426 557 nan nan nan nan nan nan nan nan nan]
['Massachusetts' 'US' 42.2302 -71.5301 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 92 95 108 123
 138 164 197 nan nan nan nan nan nan nan nan nan]
['Diamond Princess' 'US' 35.4437 139.638 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 36 36 42 42 44 44 44 45 45 45 45 45 45 45

In [229]:
# Infections with column for World and China
world = dropping.where(dropping['Country'] != 'China')
china = dropping.where(dropping['Country'] == 'China')

with open("worldinfections.tsv", "w") as outfile:
    outfile.write('Date\tInfections\tRecovered\tDeaths\tWorld\tChina\n')
    for i in range(4,59):
        inf = sum(data.iloc[:,i])
        rec = sum(recovered.iloc[:,i])
        deaths = sum(dead.iloc[:,i])
        world_sum = world.iloc[:,i].sum()
        china_sum = china.iloc[:,i].sum()
        outfile.write(f'{dates[i-4]}\t{inf}\t{rec}\t{deaths}\t{world_sum}\t{china_sum}\n')

IndexError: single positional indexer is out-of-bounds

In [230]:
dates[0]

'01/22/2020'